:root {
    background:  #F6F7F8;
    --main-color: #2b3545;
    --highlight-color: #4fa9dd;
}

* {
    outline: 1px solid red;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  width: 1440px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.logo-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveLogo .5s ease-in-out forwards;
  z-index: 1000;
}

.logo-wrapper img {
  width: 274px;
  height: auto;
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: -24px;
    left: 50%;
    transform: translateX(calc(-50% - min(600px, 50vw) + 12px)) scale(0.4);
  }
}