@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    outline: 0px solid red;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4589ff;
  animation: bgFade 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1440px;
  font-family: OpenSans;
  font-size: 23px;
  font-weight: 100;
}

.content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none; 
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.5s; 
  height: 100vh;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

header {
  display: flex;
  height: 150px;
  justify-content: end;
  margin-right: 85px;
  align-items: end;
}

.sign-up-box {
  display: flex;
  gap: 35px;
  align-items: center;
}

.sign-up-box button {
  background-color: #4589ff;
  padding: 10px 16px;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 23px;
  font-family: OpenSans;
  text-decoration: none;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.sign-up-box button:hover {
  background-color: #005eff;
  box-shadow: 0px 4px 8px rgba(83, 83, 83, 0.44);
  cursor: pointer;
}

.sign-up-box button:active {
  color: #4589FF;
  background-color: #FFFFFF;
}

.logo-wrapper {
  position: fixed;
  background-image: url(./assets/icons/joinLogoBigWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 323.1px;
  width: 265px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveLogo 0.5s ease-in-out forwards,
    logoColor 0.5s ease-in-out forwards;
    animation-delay: 0.5s, 0.5s;
  z-index: 1000;
  margin: 24px;
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: -40px;
    left: 50%;
    transform: translateX(calc(-50% - min(calc(1440px / 2), 50vw) + 105px)) scale(0.4);
  }
}

@keyframes bgFade {
  0% {
    background-color: #4589ff;
  }
  100% {
    background-color: white;
  }
}

@keyframes logoColor {
  0% {
    background-image: url(./assets/icons/joinLogoBigWhite.svg);
  }
  100% {
    background-image: url(./assets/icons/joinLogoBlue.svg);
  }
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 39px;
    width: 652px;
    height: 448px;
    border-radius: 30px;
    box-shadow: rgb(0,0,0,0.08) 0px 0px 10px 3px;
}

.login-title-box {
    width: 422px;
    height: 74px;
    justify-items: center;
}

.login-title {
    text-align: center;
    width: 315px;
    height: 58px;
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
}

.login-title-box:after {
    content: "";
    display: block;
    background: #4589FF;
    width: 150px;
    height: 3px;
    border-radius: 3px;
}

.input-wrapper-box {
    width: 422px;
    height: 152px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0px 21px;
    border-bottom: 1px solid #D1D1D1;
    transition: border-color 0.3s;
}

.input-wrapper:focus-within {
    border-color: #4589FF;
}

.input-wrapper input {
    border: none;
    width: 100%;
    font-size: 19px;
}

.input-wrapper input:focus {
    border: none;
    outline: none;
    width: 90%;
}

.input-wrapper input::placeholder {
    color: #D1D1D1;
}

.input-wrapper img {
    height: 24px;
    width: 24px;
}

.login-button-wrapper {
    display: flex;
    justify-content: center;
    width: 422px;
    height: 48px;
    gap: 35px;
}

.login-button-wrapper button {
    border: none;
    font-size: 23px;
    height: 48px;
    border-radius: 8px;
    padding: 10px 35px;
}

#login-button {
    background-color: #4589FF;
    color: #FFFFFF;
}

#login-button:hover {
  cursor: pointer;
  background-color: #005eff;
  box-shadow: 0px 4px 8px rgba(83, 83, 83, 0.44);
}

#login-button:active {
  background-color: #FFFFFF;
  color:#4589FF ;
}

#guest-button {
  background-color: #FFFFFF;
  border: 1px solid #647188;
  color: #647188;
}

#guest-button:hover {
  cursor: pointer;
  border-color: #4589FF;
  color: #4589FF;
  box-shadow: 0px 4px 8px rgba(83, 83, 83, 0.44);
}

#guest-button:active {
  color: #005eff;
  border-color: #005eff;
}

.spacebox {
  height: 32px;
}

#errorMessage {
    color: #FF8190;
    font-family: inter;
    font-size: 13px;
    font-weight: 300;
    height: 24px;
    padding-top: 8px;
}

footer {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

footer a {
  color: #42526e;
  text-decoration: none;
  font-size: 16px;
}

footer a:hover {
  color: #005eff;
}

.cursor-pointer {
  cursor: pointer;
}

