* {
  outline: 0px solid red;
}

@font-face {
  font-family: open-sans;
  src: url(/assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4589ff;
  animation: bgFade 0.5s ease-in-out forwards;
  animation-delay: .5s;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100vh;
  max-width: 1440px;
  font-family: open-sans;
}

header {
  display: flex;
  justify-content: end;
}

.sign-up {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin: 48px;
  gap: 48px;
}

.sign-up a {
  background-color: #4589ff;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  position: fixed;
  background-image: url(./assets/icons/joinLogoBigWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 323.1px;
  width: 265px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveLogo 0.5s ease-in-out forwards,
    logoColor 0.5s ease-in-out forwards;
    animation-delay: 0.5s, 0.5s;
  z-index: 1000;
  margin: 24px;
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: -64px;
    left: 50%;
    transform: translateX(calc(-50% - min(720px, 50vw) + 96px)) scale(0.38);
  }
}

@keyframes bgFade {
  0% {
    background-color: #4589ff;
  }
  100% {
    background-color: white;
  }
}

@keyframes logoColor {
  0% {
    background-image: url(./assets/icons/joinLogoBigWhite.svg);
  }
  100% {
    background-image: url(./assets/icons/joinLogoBlue.svg);
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 652px;
  height: 448px;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
