* {
    outline: 1px solid red;
}

body {
  background-color: #4589ff;
  animation: bgFade .5s ease-in-out forwards;
  margin: 0;
  overflow-x: hidden;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.logo-wrapper {
  position: fixed;
  background-image: url(./assets/joinLogoBigWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 335px;
  width: 274px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveLogo .5s ease-in-out forwards, logoColor .5s ease-in-out forwards;
  z-index: 1000;
  margin: 24px;
}

@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: -64px;
    left: 50%;
    transform: translateX(calc(-50% - min(720px, 50vw) + 96px)) scale(0.4);
  }
}

@keyframes bgFade {
  0% {
    background-color: #4589ff;
  }
  100% {
    background-color: white;
  }
}

@keyframes logoColor {
  0% {
    background-image: url(./assets/joinLogoBigWhite.svg);
  }
  100% {
    background-image: url(./assets/joinLogoBlue.svg);
  }
}